* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.acContainer {
    width: 80%;
    margin: 0 auto;
}

body {
    background-color: rgb(240, 110, 110);
    font-family: 'New Tegomin', serif;
}

h1 {
    font-size: 100px;
}

section li {
    display: flex;
    justify-content: space-around;
}